<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
    <title>Fitgeneration</title> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="/css/landing.css">
    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  </head> 
<body>

  <!-- Navigation bar -->
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Fitgeneration</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

    </ul>
  </div>
</nav>
<!-- End of Navigation Bar -->

<main>

 
  <div class="user-login"></div>
    <div class="grad"></div>
    <div class="header">
      <div>Welcome<span>Back</span></div>
    </div>
    <br>
    <div class="login">
        <input type="text" placeholder="username" name="user"><br>
        <input type="password" placeholder="password" name="password"><br>
        <input type="button" value="Login">
    </div>

</main> 


<!--Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>


</body> 
</html>
