<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Cake Builder</title> 
  <link rel="stylesheet" type="text/css" href="../stylesheets/user.css">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head> 
<h1 id="site-title">Welcome Back.</h1>  
  <div class="login">
    <br />
    <form action="/login" method="post">
      <input type="text" id="username" name="username" placeholder="username" required="required" />
      <input type="password" id="password" name="password" placeholder="Password" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large login-btn" value="Login">Log In</button>
    </form>
  </div>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>


</body> 
</html>
