<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Fitgeneration</title> 
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/../../stylesheets/register.css">
  <!-- JS -->
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="../js/register.js"></script>
</head> 
<body> 

<div class="image overlay">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="register-title">
        <div class="tagline">Thanks for visiting — Enter your details and enjoy the journey!
        </div>
        
        <!-- Register Form-->
        <div id="login">
          <form action="/auth/register" method="post">
            <input type="text" placeholder="email" name="email" />
            <br/>
            <input type="text" placeholder="profile url"  name="avatar"/>
            <br/>
            <input type="text" placeholder="username" name="username"/>
            <br/>
            <label class="grey lighten-2"></label>
            <select name="status" class="browser-default status-option ">
            <option name="status" value="status" disabled selected>select fitness status</option>
            <option name='status'value="1">bulking</option>
            <option name="status" value="2">maintaing</option>
            <option name="status" value="2">toning</option>
            <option name="status" value="2">muscle gaining</option>
            <option name="status" value="3">shredding</option>
            </select>
            <br/>
            <input type="text" placeholder="password" name="password"/>
        
            <input class="reg-btn" type="submit" value="Register"/ >
          </form>
          <!-- End of Register Form -->
        </div>
      </div>
    </div>
  </div>
</div>

</body> 
</html>