<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
  <title>Cake Builder</title> 

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/allusers.css">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head> 
<body> 

<div class="container"> 


<h3>Add Photo to your fitness journey</h3> 
</div>
</body> 
</html>