<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
  <title>Cake Builder</title> 

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="css/landing.css">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="javascripts/landing.js"></script> 
</head> 

<body> 

    <!-- Dropdown Structure -->

  
  <div class="home"> 
    <div id="blackBackDrop"> 
      <div class="bounceIn" id="introText"> 
        <div id="banner"> 
           <img class="strong" src="/images/strong-quote.jpg">
        </div> 
        <p id="scroll"> 
          scroll
        </p>
      </div>

  <div class="container"> 
   
    
      <!-- content information goes here -->
     
  </div>

  <div class="wrapper">
  <div class="arrow animated bounce"></div>
</div>
<div class="footer">HI MUM, I'M A FOOTER!</div>

    
  </div>
</div>

          



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>


</body> 
</html>
