<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
  <title>Era</title> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="/css/landing.css">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
 
</head> 

<body> 
<nav>
    <div class="nav-wrapper grey lighten-5">
      <span class="logoname">Logo</span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/workouts" class="navlinks" href="sass.html">workout</a></li>
        <li><a href="/users" class="navlinks" href="badges.html">Search</a></li>
        <li><a class="navlinks" href="collapsible.html">Signout</a></li>
      </ul>
    </div>
  </nav>
  
  
  <div class="intro-img">
    <h2 class="fit">Fit Generation</h2>
    <button class="sign-btn"><a href="auth/register"> sign up</button>
  </div>

 
<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>


</body> 
</html>
