<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
    <title>Fitgeneration</title> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="/css/landing.css">
    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  </head> 
<body>

<!-- Navigation bar -->
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Era</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

    </ul>
  </div>
</nav>
<!-- End of Navigation Bar -->

<!-- Main Content -->
<section class="introduction">
  <div="content"></div>
  <h1 class="fit-title">Fitgeneration</h1>
  <h3> This is your time to start your fitness journey</h3>
  <div class="buttons">
    <button class="banner-btn"><a href="auth/register">Sign up</button>
  </div>
  <div class="buttons">
    <button><a href="/login">Login</button>
  </div>
</section>

<section class="cases">
  <div class="content">
    <h2> start today</h2>
    <ul class="devices">
      <li>
        <img width="127px" height="127px" src="/images/productivity.png">
        <div class="caption">
          <h3>Plan your workouts</h3>
        </div>
      </li>
      <li>
        <img width="127px" height="127px" src="/images/work.jpg">
        <div class="caption">
          <h3>Boost your productivity</h3>
        </div>
      </li>
      <li>
        <img width="127px" height="127px" src="/images/computer.png">
        <div class="caption">
          <h3>Connect with others</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
 
<footer class="page-footer grey darken-2">
  <div class="container">
    <div class="row sticky">
      <div class="col l6 s12">
        <h5 class="white-text"></h5>
        <p class="grey-text text-lighten-4">
            Track your changes and motivate others on your fitness journey.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
      <div class="container">
        © 2016 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        <br/>
        <br/>
      </div>
    </div>
  </div>
</footer>
  
</body>
</html>
