<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
  <link rel="stylesheet" type="text/css" href="/css/ig.css">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head> 
  <div id ="container">
       <h1> Instafeed</h1>
       <h2> House of Curries</h2>
      <div id= "instafeed">
      </div>
    </div>

<script type="text/javascript" src="../js/ig.js"></script>
</body>
</html>