body {
  background-color: #fafafa;
  margin: 0 auto;
  text-align:center;
}
.content {
  margin: 0 auto;
  padding: 5px;
  margin-left: 60px;
  clear: left;
}

.logoname {
  color: #FF3555;
  font-size: 25px;
  padding-left: 20px;
}

ul {
  margin: 0;
  display: block;
}
ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0.01em !important;
  line-height: 0.01em !important;
}

.navlinks{
  color:  #FF0044;
  margin-right: 80px;
}

ul li {
  list-style:none;
  display: inline;
  position: relative;
  float: left;
  margin-left: 20px;
  width: 300px;
  padding: 7px 0 25px 0;
}
.photo-wrapper {
  position: relative;
  text-align:center;
  margin: 0 20px 10px;
}

.text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 25px;
  color: #333;
  opacity: 0;
  transition: opacity .1s ease-out 0.1s;
  pointer-events: none;
}
li:hover .text {
  opacity: 1;
}
.photo {
  width: 400px;
  height: 160px;
  height: 300px;

}
.bottom {
  position: absolute;
  bottom: -25px;
  width: 100%;
}
.bg {
  position: absolute;
  top: 25px;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: -5px;
  padding: 5px;
  box-shadow: 0 0 4px 1px rgba(0,0,0,.25);
  transition: all 0.15s ease-out 0.1s;
}
li:hover a.bg {
  margin: -28px -12px;
  padding: 28px 12px;
}
.clear-fix {
  clear: both;
}

.leggings{
  position: relative;
  width: 100%;
  height: 350px;
}

.photo-banner{
  position: relative;
  width: 100%;
  height: 430px;
}

.prog-links{
  margin: 0 ;
  float: left;
  color: black;
}

.prog-text{
  color:#FE586B;
}
