@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700");

body {
  margin: 0 auto;
  padding: 0;
  line-height: 1.6;
  font-size: 1rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto";
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.banner{
  background:url("/images/fitness-journey.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}


h1{
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px;
}

.logoname {
  color: #FF3555;
  font-size: 25px;
  padding-left: 20px;
}

a.navlinks {
  color: #FF3555;
}

.user-content {
  margin-top: 30px;
  width: 600px;
  margin: 0;
  margin-left: 10px;
  margin-top: 20px;
}

.user-info {
  height: 600px;
  width: 300px;
}

.message-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar {
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}

#photoform{
  width: 400px;
  margin: 0px auto;
  text-align: center;
  margin-top: 40px;
}

.photo-content{
  background: white;
  border: 0 none;
  margin-top: 60px;
  margin-left: 420px;
  border-radius: 3px;
  padding: 20px 20px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  width: 600px;
}

#photoform input{
  padding: 15px;
  border: 2px solid #007D89;
  border-radius: 3px;
  margin-bottom: 5px;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 13px;
}


.action-button{
  width: 150px;
  height: 50px;
  background: #069FAD;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  cursor: pointer;
}

#photoform .action-button:hover, 
#photoform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.photo-title{
  font-size: 25px;
  color: #2C3E50;
  margin-bottom: 10px;
}
/* end of photo new stylesheet */
.track {
  color: tomato;
}

.exercise-content {
  background: white;
  border: 0 none;
  margin-top: 60px;
  border-radius: 3px;

  padding: 30px 30px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  display: inline-block;
  width: 100%;
  height: 480px;
  position: relative;
}

#workout-form{
  width: 400px;
  margin: 0px auto;
  text-align: center;
  margin-top: 30px;
  color: black;
}

#workout-form input{
  padding: 15px;
  border: 2px solid #007D89;
  border-radius: 3px;
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 15px;
}

#workout-form .action-button:hover, 
#workout-form .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.workout-title{
  font-size: 25px;
  color: #2C3E50;
}

.workout-banner{
  background:url("/images/kettlebell.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.user-name{
  position: relative;
  text-align: center;
  color: #FF0044;
}



