body { 
  background: url("../images/legs.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logoname {
  font-size: 25px;
  padding-left: 20px;
}

h1 {
  text-align: center;
  line-height: 200px;
  margin: auto;
  position: absolute;
  top: 50%;
  width: 100%;
  color: #FFF;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  -webkit-animation: text-fade 1.5s;
}

.tagline{
  text-align: center;
  line-height: 200px;
  margin: auto;
  margin-top: 30px;
  position: absolute;
  top: 61%;
  width: 100%;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-overflow: elipsis;
  -webkit-animation: text-fade 2.5s;
}

.overlay{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(0, 0, 0,0.6);
}

/* Log in styles */
#login{
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 30px;
  background: rgba(0,0,0,.8);
  border-radius: 4px;
  position: relative;
  color: #fff;
}

#login form{
  background:#f0f0f0;
  margin: 0;
  height: 220px;
  padding: 10px 10px;
}

.edit-form {
  background-color: white;
  padding: 10px 10px;
  width: 500px;
  height: 500px;
  margin-top:40px;
  margin-left: 250px;
}

.user-edit{
  color: #FF0044;
  text-align: center;
}

input{
  background:white;
  background: transparent;
  margin-bottom:4%;
  border:1px solid black;
  border: 1px solid black;
  padding:4%;
  width: 300px;
  font-family:'Open Sans', sans-serif;
}

input[type="email"], input[type="password"], {
  width:92%;
  background:#fff;
  background: transparent;
  margin-bottom:4%;
  border:1px solid #ccc;
  border: 1px solid rgba(255,255,255,.2);
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color: #555A5C;
}

input[type="text"], {
  background:#fff;
  background: transparent;
  margin-bottom:4%;
  border:1px solid #ccc;
  border: 1px solid rgba(255,255,255,.2);
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color: #fff;
}

input[type="submit"]{
  width: 160px;
  height: 40px;
  background: #3399cc;
  background: transparent;
  border:0;
  background-color: #069FAD;
  padding:2%;
  font-size: 15px;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: background .3s;
  -webkit-transition: background .3s;
  border: 1px solid black;
  border: 1px solid black;
  cursor: pointer;
}

input[type="submit"]:hover{
  background-color: tomato;
}

.edit-btn {
  width: 90px;
  margin-top: 20px;
}

.user-btn{
  text-align: center;
  width: 90px;
  margin-top: 20px;
  margin-left:20px;
}

.reg{
  margin-left: 70px;
}

.social-btn{
 margin-top: 10px;
 width: 100px;
 height: 50px;
 font-family:'Open Sans',sans-serif;
 font-size:95%;
 color: #fff;
 background-color: #415E9B;
}

#site-title{
  margin-top: 15px;
}

.status-option{
  color: black;
  background:white;
  background: transparent;
  margin-bottom:4%;
  border:1px solid black;
  border: 1px solid black;
  padding:4%;
  font-size: 16px;
  width: 330px;
  font-family:'Open Sans', sans-serif;
}



