<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
  <title>her era</title> 
  <link rel="stylesheet" type="text/css" href="/../../stylesheets/exercise.css">
   <script src="jquery.js"></script>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
   
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head> 
<body> 

<nav>
  <div class="nav-wrapper grey lighten-5">
    <span class="logoname">Logo</span>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="navlinks" href="sass.html">workout</a></li>
      <li><a href="/users" class="navlinks" href="badges.html">Search</a></li>
      <li><a class="navlinks" href="collapsible.html">Signout</a></li>
    </ul>
  </div>
</nav>

<div class="leg-exercises"> 
  <h2>Squats</h2>
<form action="/exercises" method="Post" id="list-form">
  <div class="container">
    <ul class="collapsible center-align" data-collapsible="expandable">

      <li><!-- Squats -->
        <div class="collapsible-header">Squats</div>
        <div class="collapsible-body">
          <img src="/images/selter.gif">
          <br/>
          Here's some useful tips!<br/>
          1. Take a deep breath, and go descend like you are sitting back on a chair behind you; not going straight down. Keep your knees in line with your feet. 
          Warning! DO NOT LET YOUR KNEES BOW IN. 
          <br/>         
          2.Many people say to try to keep your shin at a 90 degree angle to the ground.This is impossible with the regular stance squat and is only possible by a few using the wide-stance variety. Try to keep your knees from going out past your toes.
          <br/>
          3. Descend till their thighs are parallel to the ground. Go as low as you can or you can stop just above parallel.
          4. Your shin/back position and depth. After you have descended to the bottom position, reverse your direction immediately (don't bounce at the bottom) and drive upwards. Try and pull your back up (hip extension) as hard as possible during the ascent.
          <br/>
          <input name="description" type="checkbox" id="squats" value="squats" />
        <label class="legs" for="squats">Squats</label>
      </div>
      </li>
      <li>
        <div class="collapsible-header">Sumo Squats</div>
        <div class="collapsible-body">
          <img src="/images/sumoooo.gif">
          <br/>
          <input type="checkbox" name="description" value="sumo squat" id="sumo squat"> 
          <label class="legs" for="sumo squat">Sumo Squat</label>
        </div>
      </li>
      <li> <!-- Jump Squat -->
        <div class="collapsible-header">Jump Squats</div>
        <div class="collapsible-body">
          <img src="/images/jump-squat.jpg">
          <br/>
          <input type="checkbox" name="description" value="jump squat" id="jump-squat"> 
          <label class="legs" for="jump squat">Jump Squat</label>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Split Squats</div>
        <div class="collapsible-body">
          <img src="/images/split-squat.jpg">
          <br/>
          <input type="checkbox" name="description" value="squat" id="split squat"> 
          <label class="legs" for="split squat">Split Squat</label>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Narrow Squats</div>
        <div class="collapsible-body">
          <img src="/images/narrow-squats.jpg">
          <br/>
          <input type="checkbox" name="description" value="narrow squats" id="narrow squats"> 
          <label class="legs" for="narrow squats">Narrow Squats</label>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Rear Deadlift</div>
        <div class="collapsible-body">
          <img src="/images/rdl.jpg">
          <br/>
          <input type="checkbox" name="description" id="rear deadlift" value="rear deadlift"> 
          <label class="legs" for="rear deadlift">rear deadlift</label>
        </div>
      </li>

      <button type="submit" name="Submit" class="action-button" value="Submit">Submit</button>
    </ul>
  </div>
</form>



     
    <!-- </li>
    <li>
      <div class="collapsible-header">Step Ups</div>
      <div class="collapsible-body">
        <img src="/images/step-ups.jpg">
        <br/>
           <input name="description" type="checkbox" value="step ups" id="step ups" />
        <label class="legs" for="side-lunges">Step Ups</label>

      </div>
    </li> -->
  <!-- <li>
    <div class="collapsible-header">Barbell bridges</div>
      <div class="collapsible-body"> <img src="/images/bridges.jpg">
        <br/>
        <input type="checkbox" name="description" value="barbell bridges" id="barbell bridges"> 
        <label class="legs" for="barbell bridges">Barbell Bridges</label>
      </div>
    </li>
    
    
 -->



<h2> Lunges </h2> 

<li>
      <div class="collapsible-header">Lunges </div>
      <div class="collapsible-body"> 
        <img src="/images/lunges.jpg">
        <br/>
        <span>
          <h5>Step 1:</h5> Keep your upper body straight, with your shoulders back and relaxed and chin up (pick a point to stare at in front of you so you don't keep looking down). Always engage your core.</span><br/><br/>
        <span><h5>Step 2:</h5> Step forward with one leg, lowering your hips until both knees are bent at about a 90-degree angle. Make sure your front knee is directly above your ankle, not pushed out too far, and make sure your other knee doesn't touch the floor. Keep the weight in your heels as you push back up to the starting position.</span><br/>

         <input name="description" type="checkbox" value="lunges" id="lunges" />
        <label class="legs" for="lunges">Lunges</label>
      </div>
    </li>
 
<li>
      <div class="collapsible-header">Curtsey Lunges</div>
      <div class="collapsible-body"> 
        <img src="/images/curtsey.jpg">
        <br/>
        <input type="checkbox" name="description" value="curtsey-lunges" id="curtsey-lunges"> 
        <label class="legs" for="curtsey lunges">Curtsey Lunges</label>
      </div>
    </li>



<button type="submit" name="Submit" class="action-button" value="Submit">Submit</button>

  </ul>

 </form>
</div>      
  




<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
<script type="text/javascript" src="../javascripts/exercise.js"></script>

 




</body>
</html>