<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
  <title>Cake Builder</title> 
  <link rel="stylesheet" type="text/css" href="/../../stylesheets/register.css">

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>

  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head> 
<body> 
<nav>
    <div class="nav-wrapper">
      <span class="logoname">Logo</span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="navlinks" href="sass.html">workout</a></li>
        <li><a class="navlinks" href="<%= user.id %>">Home</a></li>
        <li><a class="navlinks" href="/logout">Signout</a></li>
      </ul>
    </div>
  </nav>

  <!-- edit form   -->
  <div class="container">
      <div id="edit center-align">
        
      <form  class="edit-form" action="" method="POST">
        <h3 class="user-edit">edit profile</h3>
        <input type="text" placeholder="email" name="email" />
        <input type="text" placeholder="username" name="username"/>
        <input type="text" placeholder="weight" name="weight"/>
        <input type="text" placeholder="height" name="height"/>
        <label>Select</label>
        <select class="browser-default">
          <option value="status" disabled selected>fitness status</option>
          <option value="1">bulking</option>
          <option value="2">maintaing</option>
          <option value="2">toning</option>
          <option value="2">muscle gaining</option>
          <option value="3">shredding</option>
        </select>
            
        <input class="edit-btn" type="submit" value="save changes" >
      </form>
     </div>
    </div>

    </div>

  </body>
</html>