<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
  <title>her era</title> 
  <link rel="stylesheet" type="text/css" href="css/ig.css">

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
  <script type="text/javascript" src="../js/register.js"></script>

  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head> 
<body> 

 <img class="leggings" src="images/leggings.jpg">
 <nav>

  <div class="nav-wrapper grey lighten-5">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="navlinks"><a class="navlinks" href=" exercises/n">workout</a></li>
      <li><a class="navlinks" href="/users/<%= user.id %>">Profile</a></li>
   
    
      <li><a class="navlinks" href="/logout">Signout</a></li>
    </ul>
  </div>
</nav>
  
  <h3>Users</h3> 
  <div class="content ">
  <ul class='feed'>
    <% users.forEach(function(user) { %>
    <li>
       
      <div class="photo-wrapper">
        <div class="text"></div>
        <div class="photo">
   <img class="bg" src="<%= user.avatar %>" alt="">
          </div>
          <div class="text bottom"> 
             <a href="users/<%= user.id %>"><%= user.name %></a>
       
            <ul class="collection with-header ">
          </div>
        </div>
      </li>
      <% }); %>
      <li>
        <div class="photo-wrapper">
          <img class="bg" src="https://s-media-cache-ak0.pinimg.com/236x/ac/a6/02/aca602b53f3120db07b0e956bb2bcc75.jpg">
            <div class="text">Top Text</div>
              <div class="photo"></div>
              <div class="text bottom">Bottom Text</div>
    </div>
  </li>
  <li>
    <div class="photo-wrapper">
 <img class="bg" src="https://s-media-cache-ak0.pinimg.com/236x/ac/a6/02/aca602b53f3120db07b0e956bb2bcc75.jpg">
      <div class="text">Top Text</div>
      <div class="photo"></div>
      <div class="text bottom">Bottom Text</div>
    </div>
  </li>
  <li>
    <div class="photo-wrapper">
       <img class="bg" src="https://s-media-cache-ak0.pinimg.com/236x/ac/a6/02/aca602b53f3120db07b0e956bb2bcc75.jpg">
      <div class="text">Top Text</div>
      <div class="photo"></div>
      <div class="text bottom">Bo</div>
    </div>
  </li>
  <li>
    <div class="photo-wrapper">
      <img class="bg" src="https://s-media-cache-ak0.pinimg.com/236x/ac/a6/02/aca602b53f3120db07b0e956bb2bcc75.jpg">
      <div class="text">Top Text</div>
      <div class="photo"></div>
      <div class="text bottom">Bottom Text</div>
    </div>
  </li>
  <li>
    <div class="photo-wrapper">
      <img class="bg" src="https://s-media-cache-ak0.pinimg.com/236x/ac/a6/02/aca602b53f3120db07b0e956bb2bcc75.jpg">
      <div class="text">Top Text</div>
      <div class="photo"></div>
      <div class="text bottom">Bottom Text</div>
    </div>
  </li>
  <li>
    <div class="photo-wrapper">
      <img class="bg" src="https://s-media-cache-ak0.pinimg.com/236x/ac/a6/02/aca602b53f3120db07b0e956bb2bcc75.jpg">
      <div class="text">Top Text</div>
      <div class="photo"></div>
      <div class="text bottom">Bottom Text</div>
    </div>
  </li>
  <li>
    <div class="photo-wrapper">
      <img class="bg" src="https://s-media-cache-ak0.pinimg.com/236x/ac/a6/02/aca602b53f3120db07b0e956bb2bcc75.jpg">
      <div class="text">Top Text</div>
      <div class="photo"></div>
      <div class="text bottom">Bottom Text</div>
    </div>
  </li>
</ul>

  <div class="clear-fix"></div>
</div></body></html>
 



            

              
    <footer class="page-footer grey darken-2">
    <div class="container">
      <div class="row sticky">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
</body>
</html>