<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
  <title>Fitgeneration</title> 
  <!-- CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="css/ig.css">
  <!-- JS -->
  <script type="text/javascript" src="../js/register.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head> 
<body> 

<!-- banner content -->
<img class="leggings" src="images/leggings.jpg">
 
<!-- user index navigation -->
<nav>
  <div class="nav-wrapper grey lighten-5">
    <div class="col s12 m12 l12 center-align">
      <ul>
        <li><a class="navlinks" href="/workouts">workouts</a></li>
        <li><a class="navlinks" href="/photos">Photos</a></li>
        <li><a class="navlinks" href="/users/<%= user.id %>">Home</a></li>
        <li><a class="navlinks" href="/logout">Signout</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- end of user nav -->

<!-- user search gallery -->
<div class="content">
<h3>Users</h3> 
  <ul class='feed'>
    <% users.forEach(function(user) { %>
    <li>
      <div class="photo-wrapper">
        <div class="text"></div>
        <div class="photo">
          <img class="bg" src="<%= user.avatar %>" alt="">
          <a href="/users/<%= user._id %>">
          <%= user.name %></a>
        </div>
        <div class="text bottom"></div>
      </div>
    </li>
    <% }); %>
    
    <li>
      <div class="photo-wrapper">
        <img class="bg" src="https://s-media-cache-ak0.pinimg.com/236x/ac/a6/02/aca602b53f3120db07b0e956bb2bcc75.jpg">
        <div class="text"></div>
        <div class="photo"></div>
        <div class="text bottom">Bottom Text</div>
      </div>
    </li>
  </ul>
  <div class="clear-fix"></div>
</div>
<!-- end of user search gallery -->
 
<!-- Footer Content -->
<footer class="page-footer grey darken-2">
  <div class="container">
    <div class="row sticky">
      <div class="col s12 m12 l12">
        <h5 class="white-text center">Fitgeneration</h5>
        <p class="grey-text text-lighten-4">Organize your fitness journey</p>
      </div>
     </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Text
    </div>
  </div>
</footer>
<!-- end of footer content -->
</body>
</html>