<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
  <title>her era</title> 
  <link rel="stylesheet" type="text/css" href="/../../stylesheets/allusers.css">

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
   <script type="text/javascript" src="../js/register.js"></script>

  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head> 
<body> 
<nav>
  <div class="nav-wrapper grey lighten-5">
    <span class="logoname">Logo</span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/exercises" class="navlinks" href="sass.html">exercises</a></li>
        <li><a href="/users" class="navlinks" href="badges.html">Users</a></li>
        <li><a class="navlinks" href="collapsible.html">Signout</a></li>
      </ul>
    </div>
  </nav>
  
 <img class="leggings" src="images/leggings.jpg">
 <h3 class="user-name">users</h3>

 <div class="container">
  <div class="row user-content">
        <div class="col s4 center">
         
          <div class="card blue-grey darken-1 user-info">
            <div class="white-text center-align user-card">
              <img class="avatar" src="https://s-media-cache-ak0.pinimg.com/236x/ac/a6/02/aca602b53f3120db07b0e956bb2bcc75.jpg">
              <br />

              <span class="card-title"><%= user.username %><span>
             <%= user.avatar %>
          </div>
            <ul class="collection with-header ">
        <li class="collection-header"><h5>Status</h5></li>
        <li class="collection-item">height</li>
        <li class="collection-item">weight</li>
        <li class="collection-item">
          goals</li>
      </ul>
       <div class="center-align">
          <button class="btn btn-primary message-btn">Connect</button>

          <div/>
        </div>
      </div>
    </div>
  
        
                </div>
<div class="row user-content">
        <div class="col s4 center-align ">
         
          <div class="card blue-grey darken-1 user-info">
            <div class="white-text center-align user-card">
              <img class="avatar" src="https://s-media-cache-ak0.pinimg.com/236x/ac/a6/02/aca602b53f3120db07b0e956bb2bcc75.jpg">
              <br />

              <span class="card-title"><%= user.username %><span>
             <%= user.avatar %>
          </div>
            <ul class="collection with-header ">
        <li class="collection-header"><h5>Status</h5></li>
        <li class="collection-item">height</li>
        <li class="collection-item">weight</li>
        <li class="collection-item">
          goals</li>
      </ul>
       <div class="center-align">
          <button class="btn btn-primary message-btn">Connect</button>

          </div>
          </div>


         
 
     </div>
   </div>
 </div>

    <footer class="page-footer grey darken-2">
    <div class="container">
      <div class="row sticky">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
</body>
</html>