<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
  <title>Cake Builder</title> 
  <link rel="stylesheet" type="text/css" href="/../../stylesheets/show.css">

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>

  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head> 
<body> 
<nav>
    <div class="nav-wrapper grey lighten-5">
      <span class="logoname">Logo</span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="navlinks" href="sass.html">workout</a></li>
        <li><a class="navlinks" href="badges.html">Search</a></li>
        <li><a class="navlinks" href="collapsible.html">Signout</a></li>
      </ul>
    </div>
  </nav>

  <div class="container"> 
    <!-- users profile -->
    <div class="row user-block">
        <div class="user-card col s12 m7 pull-left">
          <div class="card user-card">
            <div class="card-image">
             <img src="<%= user.url %>" width="200px", height="auto">
              <span class="card-title">
                hi<span>
            </div>
            <div class="card-content center-align">
              <h4 class="info"><%= user.username %></h4>
               
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
  </div>
        


</body>
</html>